<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.odboy.modules.vital.mapper.FavorDealingHistoryMapper">
    <select id="selectFavorDealingHistorys" resultType="cn.odboy.modules.vital.domain.FavorDealingHistory$SearchFavorDealingHistorys">
        SELECT
        t1.*,
        t2.real_name AS contact_real_name,
        t2.nick_name AS contact_nick_name
        FROM
        vital_favor_dealing_history t1
        LEFT JOIN vital_contact_info t2 ON t1.contact_id = t2.id
        <where>
            <if test="args != null">
                <if test="args.eventName != null and args.eventName != ''">
                    and t1.event_name like CONCAT('%',#{args.eventName},'%')
                </if>
                <if test="args.remark != null and args.remark != ''">
                    and t1.remark like CONCAT('%',#{args.remark},'%')
                </if>
            </if>
        </where>
    </select>
</mapper>
